@page "/mailsender"
@using System.Net
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@using MailerWeb.Shared.Models
@using MailerWeb.Shared.Models.Requests;
@using MailerWeb.Shared.Models.Responses;
@using Microsoft.AspNetCore.Components
@using Services
@using Newtonsoft.Json;

@inject Microsoft.AspNetCore.Blazor.Services.WebAssemblyUriHelper UriHelper
@inject LocalStorage Storage
@inject HttpService Http



    <div class="row">
        <div class="col-md-12">
            <p class="h1">Mailsender</p>
            @if (MailerWebCurrentUser != null)
            {

            }
            else
            {
                <div class="form-group">
                    <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading">Oops!</h4>
                        <p>You are not logged in yet!</p>
                    </div>
                </div>
            }
        </div>
    </div>


@functions
{

    StorageRecord MailerWebCurrentUser { get; set; }

    protected override void OnInit()
    {
        try
        {
            MailerWebCurrentUser = JsonConvert.DeserializeObject<StorageRecord>(Storage["MailerWebCurrentUser"]);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}
